*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}

/* Utilities */
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

/*  */
